@import url('../../../src/vitepress/styles.css');

:root {
  --vp-c-brand-1: #5d8eff;
  --vp-c-brand-2: #3e75f3;
  --vp-c-brand-3: #315ae6;
  --vp-c-brand-soft: #e4e9ffa8;
}

html.dark {
  --vp-c-brand-1: #77a0ff;
  --vp-c-brand-2: #4f76ff;
  --vp-c-brand-3: #346aea;
  --vp-c-brand-soft: #2023ff69;
}
